@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    border: #c6c6c6;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: #009ad6;
}

section {
    padding: 5rem 9%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    border: 0.2rem solid #270c00;
    color: #ff9970;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
}

.btn:hover {
    background: #ff7b00;
}

.heading {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: #0090c9;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 2rem 9%;
    z-index: 1000;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .logo {
    margin-right: auto;
}

.header .icons {
    margin-left: 2rem;
    font-size: 2.5rem;
    float: left;
    color: #2b1300;
}

.header i:hover {
    color: #ff9900;
}

.header .navbar #nav-close {
    font-size: 5rem;
    cursor: pointer;
    color: #241100;
    display: none;
}

.header .icons a,
.header .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #2b1300;
}

.header .icons a:hover,
.header .icons div:hover {
    color: #ff9900;
}

.header .logo img {
    height: 100px;
    width: 100px;
}


/*#heading starts*/

.heading span::before {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 0;
    z-index: -1;
    background: ff9900;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: rgb(17, 11, 0);
    background: ff9900;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    padding: 1.5rem 7%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: .5rem;
    background: #f0f0f0;
    color: #444;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    color: F79F1F;
}

#search_btn {
    display: none;
}

.header .navbar {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 10%);
    width: 21rem;
    height: 39rem;
    justify-content: flex-start;
    /* padding-left: 2rem; */
    transform: scale(0);
    transform-origin: top right;
}

.header .navbar.active {
    transform: scale(1);
}

.header .navbar a {
    display: block;
    margin: 2.8rem;
    padding: 0.5rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: #000000;
    border-radius: .5rem;
}

.header .navbar a:hover {
    color: #F79F1F;
    background: #eee;
    padding-left: 2rem;
}

.header .User-Profile {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    width: 26rem;
    height: 23rem;
    text-align: center;
    padding: 1rem;
    transform: scale(0);
    transform-origin: top right;
}

.header .User-Profile h2 {
    font-size: 2.2rem;
}

.header .User-Profile.active {
    transform: scale(1);
}

.header .User-Profile .inputBox {
    margin-bottom: 1rem;
}

.header .User-Profile .inputBox span {
    font-size: 1.7rem;
    color: #666;
}

.header .User-Profile .inputBox input {
    font-size: 1.5rem;
    color: #444;
    border-radius: .5rem;
    padding: 1rem;
    background: #eee;
    width: 100%;
    text-transform: none;
    margin: .5rem 0;
}

.header .User-Profile .remember {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 0;
}

.header .User-Profile .remember label {
    color: var(#666);
    font-size: 1.5rem;
    cursor: pointer;
}

.header .User-Profile .btn {
    width: 100%;
}


/*#heading ends*/


/*#booking form*/

form {
    margin-top: 3rem;
}


/* Colors */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.Price {
    text-align: left;
    font-size: 2rem;
    font-weight: bolder;
    color: #019a4d;
}

.info-text {
    text-align: left;
    width: 100%;
}

header,
form {
    padding: 4em 10%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group h3 {
    margin-bottom: 3rem;
    font-size: 4rem;
    color: #08a6f1;
    text-align: center;
    font-weight: 1rem;
    text-transform: uppercase;
}

h2.heading {
    font-size: 2rem;
    font-weight: 1rem;
    text-transform: uppercase;
    text-align: left;
    color: #050505;
    border-bottom: 1px solid #001830;
    padding-bottom: 3px;
    margin-bottom: 20px;
}

.controls {
    text-align: left;
    position: relative;
    margin-top: 1.5rem;
}

.form-group .form-checkbox input {
    position: absolute !important;
    margin-left: -9999px !important;
    visibility: hidden !important;
}

.form-group .form-checkbox label {
    position: relative;
    padding-top: 4px;
    padding-left: 30px;
    font-weight: 700;
    color: #191a1e;
}

.form-group .form-checkbox label+label {
    margin-left: 15px;
}

.form-group .form-checkbox input+span {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #dfe5e9;
    border-radius: 50%;
}

.form-group .form-checkbox input+span:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #4fa3e3;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.form-group .form-checkbox input:not(:checked)+span:after {
    opacity: 0;
}

.form-group .form-checkbox input:checked+span:after {
    opacity: 1;
    width: 10px;
    height: 10px;
}

.controls input[type="text"],
.controls input[type="email"],
.controls input[type="number"],
.controls input[type="date"],
.controls input[type="tel"],
.controls textarea,
.controls button,
.controls select {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #333232;
    width: 100%;
    margin-bottom: 18px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 6rem;
}

.controls input[type="text"]:focus,
.controls input[type="text"]:hover,
.controls input[type="email"]:focus,
.controls input[type="email"]:hover,
.controls input[type="number"]:focus,
.controls input[type="number"]:hover,
.controls input[type="date"]:focus,
.controls input[type="date"]:hover,
.controls input[type="tel"]:focus,
.controls input[type="tel"]:hover,
.controls textarea:focus,
.controls textarea:hover,
.controls button:focus,
.controls button:hover,
.controls select:focus,
.controls select:hover {
    outline: none;
    border-color: #7a7c7e;
}

.controls input[type="text"]:focus+label,
.controls input[type="text"]:hover+label,
.controls input[type="email"]:focus+label,
.controls input[type="email"]:hover+label,
.controls input[type="number"]:focus+label,
.controls input[type="number"]:hover+label,
.controls input[type="date"]:focus+label,
.controls input[type="date"]:hover+label,
.controls input[type="tel"]:focus+label,
.controls input[type="tel"]:hover+label,
.controls textarea:focus+label,
.controls textarea:hover+label,
.controls button:focus+label,
.controls button:hover+label,
.controls select:focus+label,
.controls select:hover+label {
    color: #F79F1F;
    cursor: text;
    font-weight: 0.8rem;
}

.controls .fa-sort {
    position: absolute;
    right: 10px;
    top: 17px;
    color: #999;
}

.controls select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.controls label {
    position: absolute;
    left: 8px;
    top: 12px;
    width: 60%;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
    -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
    -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
    transition: color 0.3s, top 0.3s, background-color 0.8s;
    background-color: white;
}

.controls label.active {
    top: -11px;
    color: #555;
    background-color: white;
    width: auto;
}

.controls textarea {
    resize: none;
    height: 200px;
}

button {
    cursor: pointer;
    background-color: #08a6f1;
    border: none;
    font: #fff;
    padding: 12px 0;
    float: right;
    border-radius: 0.5rem;
}

button:hover {
    background-color: #f8b249;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.grid {
    background: white;
}

.grid:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    padding-right: 10px;
}

.grid [class*='col-']:last-of-type {
    padding-right: 0;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-3 {
    width: 33.33%;
}

.col-1-2 {
    width: 50%;
}

.col-1-4 {
    width: 25%;
}

@media (max-width: 760px) {
    .col-1-4-sm,
    .col-1-3,
    .col-2-3 {
        width: 100%;
    }
    [class*='col-'] {
        padding-right: 0px;
    }
}

.col-1-8 {
    width: 12.5%;
}